MODEL_PROVIDER=AzureOpenAI

AZURE_OPENAI_API_VERSION=2024-02-01
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_EMBED_MODEL_DEPLOYMENT_NAME=
AZURE_OPENAI_LLM_DEPLOYMENT_NAME=gpt-35-turbo

GCP_PROJECT=
VERTEXAI_LLM=gemini-1.0-pro-001
VERTEXAI_EMBED_MODEL=textembedding-gecko@003

POSTGRES_CONN_STR='postgres://user:pass@xxx.postgres.cosmos.azure.com:5432/dbname?sslmode=require'
POSTGRES_TABLE=demo
